# Data Transformation, Modeling and Quality

In this notebook we'll look at how to transform the input datasets to be consumed into a Data Model.

### Step 1 - What inputs do you have?

In [1]:
%%bash
ls ../data

WDICountry.csv
WDIData.csv
WDISeries.csv

### Step 2 - Get your tools setup

As part of this we will be using [PySpark](http://spark.apache.org/docs/2.1.1/api/python/index.html) to inspect the data on hand and also gather some basic details.

In [2]:
import os
from IPython.display import display, HTML
import pandas as pd

#Locating where pyspark is installed
# import findspark
# findspark.init()
import pyspark

#Settings for PySpark to work
# driver_memory = '4g'
# num_executors = 2
# executor_memory = '1g'
#pyspark_submit_args = ' --driver-memory ' + driver_memory + ' --executor-memory ' + executor_memory + ' --num-executors ' + num_executors + ' pyspark-shell'
# pyspark_submit_args = ' --driver-memory ' + driver_memory + ' pyspark-shell'

#Setting the required parameters to start up PySpark
# os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

#Import Modules Needed for PySpark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  20, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth', 50)
    else:
        pd.set_option('display.max_colwidth', -1)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [4]:
#Creating a spark session
spark = SparkSession.builder.appName("Data Transformation").getOrCreate()

### Step 3 - Read the data

We will be using the WDICountry, WDISeries and WDIData files for all the activity below.

In [5]:
#Read the file into a Spark Data Frame
country = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDICountry.csv")

country.count()

263

In [6]:
series = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDISeries.csv")

series.count()

1593

In [7]:
indicators = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDIData.csv")

indicators.count()

420024

### Step 4 - Transform the data

#### Transform the Country Dataset
- Select the columns that we will need for our data model
- Rename columns for data ingestion

We'll be using the various operations supported for a DataFrame.  You can view the complete list [here](http://spark.apache.org/docs/2.1.1/api/python/pyspark.sql.html#pyspark.sql.DataFrame) .

In [8]:
countryDim = country \
    .select("2-alpha code", "Country Code", "Short Name", "Long Name", "Region", "Income Group") \
    .withColumnRenamed("2-alpha code", "country_iso_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .withColumnRenamed("Short Name", "country_name") \
    .withColumnRenamed("Long Name", "country_long_name") \
    .withColumnRenamed("Region", "region") \
    .withColumnRenamed("Income Group", "income_group")
    
showDF(countryDim)

,country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

#### You can also do the similar transformations in sql
Let's rename the country_name and country_long_name columns

In [9]:
#Lets you create a view that you can use in SQL queries
countryDim.createOrReplaceTempView("country")

In [10]:
transformQuery = """
select 
    country_iso_code
    , wb_country_code
    , country_name as name
    , country_long_name as long_name
    , region
    , income_group
from 
    country
"""

showDF(spark.sql(transformQuery))

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

### Step 5 - Check the data quality

##### Do all countries have 2 character country_iso_codes ?

We will use some sql functions supported in PySpark for this exercise.  You can find a complete list of functions supported [here](http://spark.apache.org/docs/2.1.1/api/python/pyspark.sql.html#module-pyspark.sql.functions) .

In [11]:
showDF( \
    countryDim \
       .select(col("country_iso_code"), \
               length(col("country_iso_code")).alias("column_length")) \
       .groupBy("column_length") \
       .agg(count("*").alias("cnt")) \
       .filter("cnt > 1") \
)

   column_length  cnt
0              2  262

In [12]:
#You can also do this in SQL
countryCodeLengthQuery = """
select 
    length(country_iso_code) as column_length
    , count(1) as cnt
from 
    country
group by 
    length(country_iso_code)
having 
    count(1) > 1
"""

showDF(spark.sql(countryCodeLengthQuery))

   column_length  cnt
0              2  262

## Quick Exercise
Do you notice a difference in the counts returned by the Quality check for the 2-character country_iso_code vs the original row count for the WDICountry.csv ?

In [13]:
# Paste your solution here
# Yes 262 vs 263

##### Do we have duplicate records for any of the key columns ?

In [14]:
showDF(countryDim.groupBy("country_iso_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(countryDim.groupBy("wb_country_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(countryDim.groupBy("country_name").agg(count("*").alias("cnt")).filter("cnt > 1"))

Empty DataFrame
Columns: [country_iso_code, cnt]
Index: []

Empty DataFrame
Columns: [wb_country_code, cnt]
Index: []

Empty DataFrame
Columns: [country_name, cnt]
Index: []

### Step 6 - Fix any issues with data quality

In [15]:
countryDimFinal = countryDim.filter("country_iso_code is not null")

showDF(countryDimFinal)

,country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

In [16]:
countryDimFinal.count()

262

### Step 7 - Write the data to the destination

In [17]:
# Here we are going to write the country dimension to an output csv file
countryDimFinal \
    .coalesce(1) \
    .write.csv('../output/CountryDim', mode='overwrite', header='true')

### Step 8 - Check if the output was written out as expected

In [18]:
%%bash
cat ../output/CountryDim/*csv | head

country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
1A,ARB,Arab World,Arab World,"",""
AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
AR,ARG,Argentina,Argentine Republic,"",""
AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income

## Exercise

#### Transform the Series Dataset and make it available in the dataframe seriesDim
- Filter only for series that have Annual periodicity
- Get the following columns and rename the selected columns to prepare further processing  

| Name in CSV | Column Name |
| ------------- |:-------------:|
| Series Code | indicator_code |
| Indicator Name | indicator_name |
| Periodicity | periodicity |
| Aggregation Method | aggregation_method |


##### How many series do you end up with ?

In [19]:
#Your solution here
seriesDim = series.select("Series code", "Indicator Name", "Periodicity", "Aggregation Method") \
    .withColumnRenamed("Series code", "indicator_code") \
    .withColumnRenamed("Indicator Name", "indicator_name") \
    .withColumnRenamed("Periodicity", "periodicity") \
    .withColumnRenamed("Aggregation Method", "aggregation_method") \
    .filter(col("periodicity") == "Annual")

seriesDim.count()

1587

#### What data quality checks were you able to perform ?

- Are there any duplicate codes ?
- Are all indicator_codes following the same pattern ?
- Is the case on columns consistent ?

In [20]:
seriesDim.createOrReplaceTempView("SD")

In [21]:
query = """
select count(indicator_code)
,count(distinct(indicator_code))
from SD
"""

In [22]:
showDF(spark.sql(query))

   count(indicator_code)  count(DISTINCT indicator_code)
0                   1587                            1587

In [23]:
#Your solution here (https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/)
seriesDim.groupBy('indicator_code').count().filter('count > 1').count()

0

In [24]:
seriesDim.show()

+-----------------+--------------------+-----------+------------------+
|   indicator_code|      indicator_name|periodicity|aggregation_method|
+-----------------+--------------------+-----------+------------------+
|   AG.AGR.TRAC.NO|Agricultural mach...|     Annual|               Sum|
|AG.CON.FERT.PT.ZS|Fertilizer consum...|     Annual|  Weighted average|
|   AG.CON.FERT.ZS|Fertilizer consum...|     Annual|  Weighted average|
|   AG.LND.AGRI.K2|Agricultural land...|     Annual|               Sum|
|   AG.LND.AGRI.ZS|Agricultural land...|     Annual|  Weighted average|
|   AG.LND.ARBL.HA|Arable land (hect...|     Annual|              null|
|AG.LND.ARBL.HA.PC|Arable land (hect...|     Annual|  Weighted Average|
|   AG.LND.ARBL.ZS|Arable land (% of...|     Annual|  Weighted average|
|   AG.LND.CREL.HA|Land under cereal...|     Annual|               Sum|
|   AG.LND.CROP.ZS|Permanent croplan...|     Annual|  Weighted average|
|AG.LND.EL5M.RU.K2|Rural land area w...|     Annual|               Sum|
|AG.LND.EL5M.RU.ZS|Rural land area w...|     Annual|  Weighted Average|
|AG.LND.EL5M.UR.K2|Urban land area w...|     Annual|               Sum|
|AG.LND.EL5M.UR.ZS|Urban land area w...|     Annual|  Weighted Average|
|   AG.LND.EL5M.ZS|Land area where e...|     Annual|  Weighted Average|
|   AG.LND.FRST.K2|Forest area (sq. km)|     Annual|               Sum|
|   AG.LND.FRST.ZS|Forest area (% of...|     Annual|  Weighted average|
|AG.LND.IRIG.AG.ZS|Agricultural irri...|     Annual|  Weighted average|
|   AG.LND.PRCP.MM|Average precipita...|     Annual|              null|
|   AG.LND.TOTL.K2|  Land area (sq. km)|     Annual|               Sum|
+-----------------+--------------------+-----------+------------------+
only showing top 20 rows

### Complex Transformations
##### Problem Statement
We want to measure the cellular and broadband penetration in comparison to the population demographics for every country.  It'll also be helpful to get some insights on annual global aggregates.

###### Our dataset has multiple types of metrics.  The only ones that we care about are simple aggregates.

In [25]:
simpleAggIndicators = seriesDim \
    .filter("lower(aggregation_method) = 'sum'") \
    .select("indicator_code", "indicator_name") \
    .orderBy("indicator_code")

showDF(simpleAggIndicators, limitRows = 500, truncate = False)

<ipython-input-3-49c0b34b293d>:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,indicator_code,indicator_name
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors"
1,AG.LND.AGRI.K2,Agricultural land (sq. km)
2,AG.LND.CREL.HA,Land under cereal production (hectares)
3,AG.LND.EL5M.RU.K2,Rural land area where elevation is below 5 meters (sq. km)
4,AG.LND.EL5M.UR.K2,Urban land area where elevation is below 5 meters (sq. km)
5,AG.LND.FRST.K2,Forest area (sq. km)
6,AG.LND.TOTL.K2,Land area (sq. km)
7,AG.LND.TOTL.RU.K2,Rural land area (sq. km)
8,AG.LND.TOTL.UR.K2,Urban land area (sq. km)
9,AG.PRD.CREL.MT,Cereal production (metric tons)
10,AG.SRF.TOTL.K2,Surface area (sq. km)
11,BM.GSR.FCTY.CD,"Primary income payments (BoP, current US$)"
12,BM.GSR.ROYL.CD,"Charges for the use of intellectual property, payments (BoP, current US$)"
13,BM.KLT.DINV.CD.WD,"Foreign direct investment, net outflows (BoP, current US$)"
14,BM.TRF.PRVT.CD,"Secondary income, other sectors, payments (BoP, current US$)"
15,BM.TRF.PWKR.CD.DT,"Personal remittances, paid (current US$)"
16,BX.GRT.EXTA.CD.WD,"Grants, excluding technical cooperation (BoP, current US$)"
17,BX.GRT.TECH.CD.WD,"Technical cooperation grants (BoP, current US$)"
18,BX.GSR.CCIS.CD,"ICT service exports (BoP, current US$)"
19,BX.GSR.FCTY.CD,"Primary income receipts (BoP, current US$)"
20,BX.GSR.ROYL.CD,"Charges for the use of intellectual property, receipts (BoP, current US$)"
21,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, current US$)"
22,BX.KLT.DREM.CD.DT,Primary income on FDI (current US$)
23,BX.PEF.TOTL.CD.WD,"Portfolio equity, net inflows (BoP, current US$)"
24,BX.TRF.CURR.CD,"Secondary income receipts (BoP, current US$)"
25,BX.TRF.PWKR.CD,"Personal transfers, receipts (BoP, current US$)"
26,BX.TRF.PWKR.CD.DT,"Personal remittances, received (current US$)"
27,CM.MKT.LCAP.CD,Market capitalization of listed domestic companies (current US$)
28,CM.MKT.LDOM.NO,"Listed domestic companies, total"
29,CM.MKT.TRAD.CD,"Stocks traded, total value (current US$)"
30,DC.DAC.AUSL.CD,"Net bilateral aid flows from DAC donors, Australia (current US$)"
31,DC.DAC.AUTL.CD,"Net bilateral aid flows from DAC donors, Austria (current US$)"
32,DC.DAC.BELL.CD,"Net bilateral aid flows from DAC donors, Belgium (current US$)"
33,DC.DAC.CANL.CD,"Net bilateral aid flows from DAC donors, Canada (current US$)"
34,DC.DAC.CECL.CD,"Net bilateral aid flows from DAC donors, European Union institutions (current US$)"
35,DC.DAC.CHEL.CD,"Net bilateral aid flows from DAC donors, Switzerland (current US$)"
36,DC.DAC.CZEL.CD,"Net bilateral aid flows from DAC donors, Czech Republic (current US$)"
37,DC.DAC.DEUL.CD,"Net bilateral aid flows from DAC donors, Germany (current US$)"
38,DC.DAC.DNKL.CD,"Net bilateral aid flows from DAC donors, Denmark (current US$)"
39,DC.DAC.ESPL.CD,"Net bilateral aid flows from DAC donors, Spain (current US$)"
40,DC.DAC.FINL.CD,"Net bilateral aid flows from DAC donors, Finland (current US$)"
41,DC.DAC.FRAL.CD,"Net bilateral aid flows from DAC donors, France (current US$)"
42,DC.DAC.GBRL.CD,"Net bilateral aid flows from DAC donors, United Kingdom (current US$)"
43,DC.DAC.GRCL.CD,"Net bilateral aid flows from DAC donors, Greece (current US$)"
44,DC.DAC.IRLL.CD,"Net bilateral aid flows from DAC donors, Ireland (current US$)"
45,DC.DAC.ISLL.CD,"Net bilateral aid flows from DAC donors, Iceland (current US$)"
46,DC.DAC.ITAL.CD,"Net bilateral aid flows from DAC donors, Italy (current US$)"
47,DC.DAC.JPNL.CD,"Net bilateral aid flows from DAC donors, Japan (current US$)"
48,DC.DAC.KORL.CD,"Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)"
49,DC.DAC.LUXL.CD,"Net bilateral aid flows from DAC donors, Luxembourg (current US$)"
50,DC.DAC.NLDL.CD,"Net bilateral aid flows from DAC donors, Netherlands (current US$)"
51,DC.DAC.NORL.CD,"Net bilateral aid flows from DAC donors, Norway (current US$)"
52,DC.DAC.NZLL.CD,"Net bilateral aid flows from DAC donors, New Zealand (current US$)"
53,DC.DAC.POLL.CD,"Net bilateral aid flows from DAC donors, Poland (current US$)"
54,DC.DAC.PRTL.CD,"Net bilateral aid flows from DAC donors, Portugal (current US$)"
55,DC.DAC.SVKL.CD,"Net bilateral aid flows from DAC donors, Slovak Republic (current US$)"
56,DC.DAC.SVNL.CD,"Net bilateral aid flows from DAC donors, Slovenia (current US$)"
57,DC.DAC.SWEL.CD,"Net bilateral aid flows from DAC donors, Sweden (current US$)"
58,DC.DAC.TOTL.CD,"Net bilateral aid flows from DAC donors, Total (current US$)"
59,DC.DAC.USAL.CD,"Net bilateral aid flows from DAC donors, United States (current US$)"
60,DT.AMT.BLAT.CD,"PPG, bilateral (AMT, current US$)"
61,DT.AMT.BLTC.CD,"PPG, bilateral concessional (AMT, current US$)"
62,DT.AMT.DIMF.CD,"IMF repurchases (AMT, current US$)"
63,DT.AMT.DLTF.CD,"Principal repayments on external debt, long-term + IMF (AMT, current US$)"
64,DT.AMT.DLXF.CD,"Principal repayments on external debt, long-term (AMT, current US$)"
65,DT.AMT.DPNG.CD,"Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)"
66,DT.AMT.DPPG.CD,"Principal repayments on external debt, public and publicly guaranteed (PPG) (AMT, current US$)"
67,DT.AMT.MIBR.CD,"PPG, IBRD (AMT, current US$)"
68,DT.AMT.MIDA.CD,"PPG, IDA (AMT, current US$)"
69,DT.AMT.MLAT.CD,"PPG, multilateral (AMT, current US$)"
70,DT.AMT.MLTC.CD,"PPG, multilateral concessional (AMT, current US$)"
71,DT.AMT.OFFT.CD,"PPG, official creditors (AMT, current US$)"
72,DT.AMT.PBND.CD,"PPG, bonds (AMT, current US$)"
73,DT.AMT.PCBK.CD,"PPG, commercial banks (AMT, current US$)"
74,DT.AMT.PNGB.CD,"PNG, bonds (AMT, current US$)"
75,DT.AMT.PNGC.CD,"PNG, commercial banks and other creditors (AMT, current US$)"
76,DT.AMT.PROP.CD,"PPG, other private creditors (AMT, current US$)"
77,DT.AMT.PRVT.CD,"PPG, private creditors (AMT, current US$)"
78,DT.AXA.DPPG.CD,"Principal arrears, public and publicly guaranteed (current US$)"
79,DT.AXA.OFFT.CD,"Principal arrears, official creditors (current US$)"
80,DT.AXA.PRVT.CD,"Principal arrears, private creditors (current US$)"
81,DT.AXF.DPPG.CD,Principal forgiven (current US$)
82,DT.AXR.DPPG.CD,Principal rescheduled (current US$)
83,DT.AXR.OFFT.CD,"Principal rescheduled, official (current US$)"
84,DT.AXR.PRVT.CD,"Principal rescheduled, private (current US$)"
85,DT.COM.DPPG.CD,"Commitments, public and publicly guaranteed (COM, current US$)"
86,DT.COM.MIBR.CD,"Commitments, IBRD (COM, current US$)"
87,DT.COM.MIDA.CD,"Commitments, IDA (COM, current US$)"
88,DT.COM.OFFT.CD,"Commitments, official creditors (COM, current US$)"
89,DT.COM.PRVT.CD,"Commitments, private creditors (COM, current US$)"
90,DT.DFR.DPPG.CD,Debt forgiveness or reduction (current US$)
91,DT.DIS.BLAT.CD,"PPG, bilateral (DIS, current US$)"
92,DT.DIS.BLTC.CD,"PPG, bilateral concessional (DIS, current US$)"
93,DT.DIS.DIMF.CD,"IMF purchases (DIS, current US$)"
94,DT.DIS.DLTF.CD,"Disbursements on external debt, long-term + IMF (DIS, current US$)"
95,DT.DIS.DLXF.CD,"Disbursements on external debt, long-term (DIS, current US$)"
96,DT.DIS.DPNG.CD,"Disbursements on external debt, private nonguaranteed (PNG) (DIS, current US$)"
97,DT.DIS.DPPG.CD,"Disbursements on external debt, public and publicly guaranteed (PPG) (DIS, current US$)"
98,DT.DIS.IDAG.CD,IDA grants (current US$)
99,DT.DIS.MIBR.CD,"PPG, IBRD (DIS, current US$)"
100,DT.DIS.MIDA.CD,"PPG, IDA (DIS, current US$)"
101,DT.DIS.MLAT.CD,"PPG, multilateral (DIS, current US$)"
102,DT.DIS.MLTC.CD,"PPG, multilateral concessional (DIS, current US$)"
103,DT.DIS.OFFT.CD,"PPG, official creditors (DIS, current US$)"
104,DT.DIS.PBND.CD,"PPG, bonds (DIS, current US$)"
105,DT.DIS.PCBK.CD,"PPG, commercial banks (DIS, current US$)"
106,DT.DIS.PNGB.CD,"PNG, bonds (DIS, current US$)"
107,DT.DIS.PNGC.CD,"PNG, commercial banks and other creditors (DIS, current US$)"
108,DT.DIS.PROP.CD,"PPG, other private creditors (DIS, current US$)"
109,DT.DIS.PRVT.CD,"PPG, private creditors (DIS, current US$)"
110,DT.DOD.ALLC.CD,"External debt stocks, concessional (DOD, current US$)"
111,DT.DOD.BLAT.CD,"PPG, bilateral (DOD, current US$)"
112,DT.DOD.BLTC.CD,"PPG, bilateral concessional (DOD, current US$)"
113,DT.DOD.DECT.CD,"External debt stocks, total (DOD, current US$)"
114,DT.DOD.DECT.CD.CG,Total change in external debt stocks (current US$)
115,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)"
116,DT.DOD.DLXF.CD,"External debt stocks, long-term (DOD, current US$)"
117,DT.DOD.DPNG.CD,"External debt stocks, private nonguaranteed (PNG) (DOD, current US$)"
118,DT.DOD.DPPG.CD,"External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)"
119,DT.DOD.DSTC.CD,"External debt stocks, short-term (DOD, current US$)"
120,DT.DOD.MDRI.CD,Debt forgiveness grants (current US$)
121,DT.DOD.MIBR.CD,"PPG, IBRD (DOD, current US$)"
122,DT.DOD.MIDA.CD,"PPG, IDA (DOD, current US$)"
123,DT.DOD.MLAT.CD,"PPG, multilateral (DOD, current US$)"
124,DT.DOD.MLTC.CD,"PPG, multilateral concessional (DOD, current US$)"
125,DT.DOD.MWBG.CD,"IBRD loans and IDA credits (DOD, current US$)"
126,DT.DOD.OFFT.CD,"PPG, official creditors (DOD, current US$)"
127,DT.DOD.PBND.CD,"PPG, bonds (DOD, current US$)"
128,DT.DOD.PCBK.CD,"PPG, commercial banks (DOD, current US$)"
129,DT.DOD.PNGB.CD,"PNG, bonds (DOD, current US$)"
130,DT.DOD.PNGC.CD,"PNG, commercial banks and other creditors (DOD, current US$)"
131,DT.DOD.PROP.CD,"PPG, other private creditors (DOD, current US$)"
132,DT.DOD.PRVS.CD,"External debt stocks, long-term private sector (DOD, current US$)"
133,DT.DOD.PRVT.CD,"PPG, private creditors (DOD, current US$)"
134,DT.DOD.PUBS.CD,"External debt stocks, long-term public sector (DOD, current US$)"
135,DT.DOD.PVLX.CD,Present value of external debt (current US$)
136,DT.DOD.RSDL.CD,"Residual, debt stock-flow reconciliation (current US$)"
137,DT.DOD.VTOT.CD,"External debt stocks, variable rate (DOD, current US$)"
138,DT.DSB.DPPG.CD,Debt buyback (current US$)
139,DT.DSF.DPPG.CD,Debt stock reduction (current US$)
140,DT.DXR.DPPG.CD,Debt stock rescheduled (current US$)
141,DT.INT.BLAT.CD,"PPG, bilateral (INT, current US$)"
142,DT.INT.BLTC.CD,"PPG, bilateral concessional (INT, current US$)"
143,DT.INT.DECT.CD,"Interest payments on external debt, total (INT, current US$)"
144,DT.INT.DIMF.CD,"IMF charges (INT, current US$)"
145,DT.INT.DLXF.CD,"Interest payments on external debt, long-term (INT, current US$)"
146,DT.INT.DPNG.CD,"Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)"
147,DT.INT.DPPG.CD,"Interest payments on external debt, public and publicly guaranteed (PPG) (INT, current US$)"
148,DT.INT.DSTC.CD,"Interest payments on external debt, short-term (INT, current US$)"
149,DT.INT.MIBR.CD,"PPG, IBRD (INT, current US$)"
150,DT.INT.MIDA.CD,"PPG, IDA (INT, current US$)"
151,DT.INT.MLAT.CD,"PPG, multilateral (INT, current US$)"
152,DT.INT.MLTC.CD,"PPG, multilateral concessional (INT, current US$)"
153,DT.INT.OFFT.CD,"PPG, official creditors (INT, current US$)"
154,DT.INT.PBND.CD,"PPG, bonds (INT, current US$)"
155,DT.INT.PCBK.CD,"PPG, commercial banks (INT, current US$)"
156,DT.INT.PNGB.CD,"PNG, bonds (INT, current US$)"
157,DT.INT.PNGC.CD,"PNG, commercial banks and other creditors (INT, current US$)"
158,DT.INT.PROP.CD,"PPG, other private creditors (INT, current US$)"
159,DT.INT.PRVT.CD,"PPG, private creditors (INT, current US$)"
160,DT.IXA.DPPG.CD,"Interest arrears, public and publicly guaranteed (current US$)"
161,DT.IXA.DPPG.CD.CG,Net change in interest arrears (current US$)
162,DT.IXA.OFFT.CD,"Interest arrears, official creditors (current US$)"
163,DT.IXA.PRVT.CD,"Interest arrears, private creditors (current US$)"
164,DT.IXF.DPPG.CD,Interest forgiven (current US$)
165,DT.IXR.DPPG.CD,Interest rescheduled (capitalized) (current US$)
166,DT.IXR.OFFT.CD,"Interest rescheduled, official (current US$)"
167,DT.IXR.PRVT.CD,"Interest rescheduled, private (current US$)"
168,DT.NFL.BLAT.CD,"Net financial flows, bilateral (NFL, current US$)"
169,DT.NFL.BLTC.CD,"PPG, bilateral concessional (NFL, current US$)"
170,DT.NFL.BOND.CD,"Portfolio investment, bonds (PPG + PNG) (NFL, current US$)"
171,DT.NFL.DECT.CD,"Net flows on external debt, total (NFL, current US$)"
172,DT.NFL.DLXF.CD,"Net flows on external debt, long-term (NFL, current US$)"
173,DT.NFL.DPNG.CD,"Net flows on external debt, private nonguaranteed (PNG) (NFL, current US$)"
174,DT.NFL.DPPG.CD,"Net flows on external debt, public and publicly guaranteed (PPG) (NFL, current US$)"
175,DT.NFL.DSTC.CD,"Net flows on external debt, short-term (NFL, current US$)"
176,DT.NFL.FAOG.CD,"Net official flows from UN agencies, FAO (current US$)"
177,DT.NFL.IAEA.CD,"Net official flows from UN agencies, IAEA (current US$)"
178,DT.NFL.IFAD.CD,"Net official flows from UN agencies, IFAD (current US$)"
179,DT.NFL.ILOG.CD,"Net official flows from UN agencies, ILO (current US$)"
180,DT.NFL.IMFC.CD,"Net financial flows, IMF concessional (NFL, current US$)"
181,DT.NFL.IMFN.CD,"Net financial flows, IMF nonconcessional (NFL, current US$)"
182,DT.NFL.MIBR.CD,"Net financial flows, IBRD (NFL, current US$)"
183,DT.NFL.MIDA.CD,"Net financial flows, IDA (NFL, current US$)"
184,DT.NFL.MLAT.CD,"Net financial flows, multilateral (NFL, current US$)"
185,DT.NFL.MLTC.CD,"PPG, multilateral concessional (NFL, current US$)"
186,DT.NFL.MOTH.CD,"Net financial flows, others (NFL, current US$)"
187,DT.NFL.NEBR.CD,"EBRD, private nonguaranteed (NFL, current US$)"
188,DT.NFL.NIFC.CD,"IFC, private nonguaranteed (NFL, current US$)"
189,DT.NFL.OFFT.CD,"PPG, official creditors (NFL, current US$)"
190,DT.NFL.PBND.CD,"PPG, bonds (NFL, current US$)"
191,DT.NFL.PCBK.CD,"PPG, commercial banks (NFL, current US$)"
192,DT.NFL.PCBO.CD,"Commercial banks and other lending (PPG + PNG) (NFL, current US$)"
193,DT.NFL.PNGB.CD,"PNG, bonds (NFL, current US$)"
194,DT.NFL.PNGC.CD,"PNG, commercial banks and other creditors (NFL, current US$)"
195,DT.NFL.PROP.CD,"PPG, other private creditors (NFL, current US$)"
196,DT.NFL.PRVT.CD,"PPG, private creditors (NFL, current US$)"
197,DT.NFL.RDBC.CD,"Net financial flows, RDB concessional (NFL, current US$)"
198,DT.NFL.RDBN.CD,"Net financial flows, RDB nonconcessional (NFL, current US$)"
199,DT.NFL.UNAI.CD,"Net official flows from UN agencies, UNAIDS (current US$)"
200,DT.NFL.UNCF.CD,"Net official flows from UN agencies, UNICEF (current US$)"
201,DT.NFL.UNCR.CD,"Net official flows from UN agencies, UNHCR (current US$)"
202,DT.NFL.UNDP.CD,"Net official flows from UN agencies, UNDP (current US$)"
203,DT.NFL.UNEC.CD,"Net official flows from UN agencies, UNECE (current US$)"
204,DT.NFL.UNFP.CD,"Net official flows from UN agencies, UNFPA (current US$)"
205,DT.NFL.UNPB.CD,"Net official flows from UN agencies, UNPBF (current US$)"
206,DT.NFL.UNRW.CD,"Net official flows from UN agencies, UNRWA (current US$)"
207,DT.NFL.UNTA.CD,"Net official flows from UN agencies, UNTA (current US$)"
208,DT.NFL.WFPG.CD,"Net official flows from UN agencies, WFP (current US$)"
209,DT.NFL.WHOL.CD,"Net official flows from UN agencies, WHO (current US$)"
210,DT.NTR.BLAT.CD,"PPG, bilateral (NTR, current US$)"
211,DT.NTR.BLTC.CD,"PPG, bilateral concessional (NTR, current US$)"
212,DT.NTR.DECT.CD,"Net transfers on external debt, total (NTR, current US$)"
213,DT.NTR.DLXF.CD,"Net transfers on external debt, long-term (NTR, current US$)"
214,DT.NTR.DPNG.CD,"Net transfers on external debt, private nonguaranteed (PNG) (NTR, current US$)"
215,DT.NTR.DPPG.CD,"Net transfers on external debt, public and publicly guaranteed (PPG) (NTR, current US$)"
216,DT.NTR.MIBR.CD,"PPG, IBRD (NTR, current US$)"
217,DT.NTR.MIDA.CD,"PPG, IDA (NTR, current US$)"
218,DT.NTR.MLAT.CD,"PPG, multilateral (NTR, current US$)"
219,DT.NTR.MLTC.CD,"PPG, multilateral concessional (NTR, current US$)"
220,DT.NTR.OFFT.CD,"PPG, official creditors (NTR, current US$)"
221,DT.NTR.PBND.CD,"PPG, bonds (NTR, current US$)"
222,DT.NTR.PCBK.CD,"PPG, commercial banks (NTR, current US$)"
223,DT.NTR.PNGB.CD,"PNG, bonds (NTR, current US$)"
224,DT.NTR.PNGC.CD,"PNG, commercial banks and other creditors (NTR, current US$)"
225,DT.NTR.PROP.CD,"PPG, other private creditors (NTR, current US$)"
226,DT.NTR.PRVT.CD,"PPG, private creditors (NTR, current US$)"
227,DT.ODA.ALLD.CD,Net official development assistance and official aid received (current US$)
228,DT.ODA.ALLD.KD,Net official development assistance and official aid received (constant 2013 US$)
229,DT.ODA.OATL.CD,Net official aid received (current US$)
230,DT.ODA.OATL.KD,Net official aid received (constant 2014 US$)
231,DT.ODA.ODAT.CD,Net official development assistance received (current US$)
232,DT.ODA.ODAT.KD,Net official development assistance received (constant 2014 US$)
233,DT.TDS.BLAT.CD,"PPG, bilateral (TDS, current US$)"
234,DT.TDS.BLTC.CD,"PPG, bilateral concessional (TDS, current US$)"
235,DT.TDS.DECT.CD,"Debt service on external debt, total (TDS, current US$)"
236,DT.TDS.DIMF.CD,"IMF repurchases and charges (TDS, current US$)"
237,DT.TDS.DLXF.CD,"Debt service on external debt, long-term (TDS, current US$)"
238,DT.TDS.DPNG.CD,"Debt service on external debt, private nonguaranteed (PNG) (TDS, current US$)"
239,DT.TDS.DPPG.CD,"Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)"
240,DT.TDS.MIBR.CD,"PPG, IBRD (TDS, current US$)"
241,DT.TDS.MIDA.CD,"PPG, IDA (TDS, current US$)"
242,DT.TDS.MLAT.CD,"Multilateral debt service (TDS, current US$)"
243,DT.TDS.MLTC.CD,"PPG, multilateral concessional (TDS, current US$)"
244,DT.TDS.OFFT.CD,"PPG, official creditors (TDS, current US$)"
245,DT.TDS.PBND.CD,"PPG, bonds (TDS, current US$)"
246,DT.TDS.PCBK.CD,"PPG, commercial banks (TDS, current US$)"
247,DT.TDS.PNGB.CD,"PNG, bonds (TDS, current US$)"
248,DT.TDS.PNGC.CD,"PNG, commercial banks and other creditors (TDS, current US$)"
249,DT.TDS.PROP.CD,"PPG, other private creditors (TDS, current US$)"
250,DT.TDS.PRVT.CD,"PPG, private creditors (TDS, current US$)"
251,DT.TXR.DPPG.CD,Total amount of debt rescheduled (current US$)
252,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current US$)"
253,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors (UND, current US$)"
254,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (UND, current US$)"
255,EG.ELC.RNWX.KH,"Electricity production from renewable sources, excluding hydroelectric (kWh)"
256,EN.ATM.GHGO.KT.CE,"Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)"
257,EN.ATM.GHGT.KT.CE,Total greenhouse gas emissions (kt of CO2 equivalent)
258,EN.ATM.METH.AG.KT.CE,Agricultural methane emissions (thousand metric tons of CO2 equivalent)
259,EN.ATM.METH.EG.KT.CE,Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
260,EN.ATM.METH.KT.CE,Methane emissions (kt of CO2 equivalent)
261,EN.ATM.NOXE.AG.KT.CE,Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
262,EN.ATM.NOXE.EG.KT.CE,Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
263,EN.ATM.NOXE.KT.CE,Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
264,EN.BIR.THRD.NO,"Bird species, threatened"
265,EN.FSH.THRD.NO,"Fish species, threatened"
266,EN.HPT.THRD.NO,"Plant species (higher), threatened"
267,EN.MAM.THRD.NO,"Mammal species, threatened"
268,ER.FSH.AQUA.MT,Aquaculture production (metric tons)
269,ER.FSH.CAPT.MT,Capture fisheries production (metric tons)
270,ER.FSH.PROD.MT,Total fisheries production (metric tons)
271,ER.H2O.FWTL.K3,"Annual freshwater withdrawals, total (billion cubic meters)"
272,ER.H2O.INTR.K3,"Renewable internal freshwater resources, total (billion cubic meters)"
273,IE.PPI.ENGY.CD,Investment in energy with private participation (current US$)
274,IE.PPI.ICTI.CD,Investment in ICT with private participation (current US$)
275,IE.PPI.TELE.CD,Investment in telecoms with private participation (current US$)
276,IE.PPI.TRAN.CD,Investment in transport with private participation (current US$)
277,IE.PPI.WATR.CD,Investment in water and sanitation with private participation (current US$)

##### Only keep the indicators that are relevant to requirements i.e. Population indicators and Cellular and Broadband penetration

In [26]:
targetIndicators = simpleAggIndicators \
    .filter("lower(indicator_name) like '%population%total%' " + 
            " or lower(indicator_name) like '%cellular%' " +
            " or lower(indicator_name) like '%broadband%'") \
    .filter("lower(indicator_name) not like '%refugee%'")

showDF(targetIndicators)

   indicator_code                       indicator_name
0     IT.CEL.SETS        Mobile cellular subscriptions
1     IT.NET.BBND        Fixed broadband subscriptions
2  SP.POP.0014.TO          Population ages 0-14, total
3  SP.POP.1564.TO         Population ages 15-64, total
4  SP.POP.65UP.TO  Population ages 65 and above, total
5     SP.POP.TOTL                    Population, total

##### Now that we have identified the various indicators of interest, we can continue with getting the metrics for these indicators

In [27]:
# Keep the columns that are relevant for further transformations
indicatorsData = indicators \
    .withColumnRenamed("Indicator Code", "indicator_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .drop("Indicator Name") \
    .drop("Country Name") \
    .drop("_c62")

In [28]:
#Keep only the indicators that we care about
targetIndicatorsData = indicatorsData.join(targetIndicators \
                                         , indicatorsData.indicator_code == targetIndicators.indicator_code) \
    .drop(targetIndicators.indicator_code)

In [29]:
showDF(targetIndicatorsData)

,wb_country_code,indicator_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,indicator_name
0,ARB,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.845325e+06,7.123797e+06,8.570787e+06,1.032359e+07,1.179999e+07,1.383407e+07,1.660445e+07,1.852699e+07,NaN,Fixed broadband subscriptions
1,ARB,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,2.652708e+08,3.122478e+08,3.519580e+08,3.816419e+08,4.077045e+08,4.150294e+08,4.171956e+08,4.123153e+08,NaN,Mobile cellular subscriptions
2,ARB,SP.POP.0014.TO,40064255.0,41518715.0,42987169.0,44458639.0,45910606.0,47331020.0,48923976.0,50456294.0,...,1.180752e+08,1.199217e+08,1.221659e+08,1.246738e+08,1.273441e+08,1.299870e+08,1.324654e+08,1.350077e+08,NaN,"Population ages 0-14, total"
3,ARB,SP.POP.1564.TO,49179481.0,50158016.0,51208328.0,52348368.0,53610121.0,55012095.0,56343748.0,57859656.0,...,2.156395e+08,2.217716e+08,2.274856e+08,2.329511e+08,2.382154e+08,2.434054e+08,2.486149e+08,2.535661e+08,NaN,"Population ages 15-64, total"
4,ARB,SP.POP.65UP.TO,3247196.0,3367766.0,3486797.0,3604069.0,3719175.0,3831873.0,3962869.0,4090982.0,...,1.443047e+07,1.481554e+07,1.524433e+07,1.568205e+07,1.614261e+07,1.665064e+07,1.722468e+07,1.787893e+07,NaN,"Population ages 65 and above, total"
5,ARB,SP.POP.TOTL,92490932.0,95044497.0,97682294.0,100411076.0,103239902.0,106174988.0,109230593.0,112406932.0,...,3.481451e+08,3.565089e+08,3.648959e+08,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,NaN,"Population, total"
6,CSS,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.341620e+05,4.731380e+05,4.982850e+05,6.272510e+05,6.744190e+05,7.533680e+05,8.971340e+05,9.818860e+05,NaN,Fixed broadband subscriptions
7,CSS,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,7.646708e+06,7.935923e+06,7.534114e+06,7.322041e+06,7.738401e+06,7.952805e+06,8.158698e+06,8.487436e+06,NaN,Mobile cellular subscriptions
8,CSS,SP.POP.0014.TO,1766884.0,1816372.0,1864013.0,1908732.0,1949651.0,1986537.0,2027526.0,2065067.0,...,1.828309e+06,1.804177e+06,1.783918e+06,1.761456e+06,1.738418e+06,1.717638e+06,1.700765e+06,1.687271e+06,NaN,"Population ages 0-14, total"
9,CSS,SP.POP.1564.TO,2151060.0,2173846.0,2198714.0,2225619.0,2253715.0,2281832.0,2303230.0,2324023.0,...,4.477802e+06,4.533534e+06,4.585728e+06,4.638828e+06,4.691000e+06,4.739145e+06,4.781112e+06,4.816676e+06,NaN,"Population ages 15-64, total"
10,CSS,SP.POP.65UP.TO,169157.0,175359.0,182071.0,189010.0,196024.0,203156.0,208494.0,214011.0,...,5.113080e+05,5.235000e+05,5.356520e+05,5.492100e+05,5.639010e+05,5.793790e+05,5.956210e+05,6.131610e+05,NaN,"Population ages 65 and above, total"
11,CSS,SP.POP.TOTL,4198307.0,4277802.0,4357746.0,4436804.0,4513246.0,4585777.0,4653919.0,4718167.0,...,6.939534e+06,6.984096e+06,7.029022e+06,7.074129e+06,7.118888e+06,7.162679e+06,7.204948e+06,7.245472e+06,NaN,"Population, total"
12,CEB,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.676303e+07,1.805184e+07,2.020864e+07,2.088233e+07,2.197775e+07,2.271588e+07,2.335264e+07,2.410117e+07,NaN,Fixed broadband subscriptions
13,CEB,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,1.263254e+08,1.282832e+08,1.312328e+08,1.357431e+08,1.379437e+08,1.366668e+08,1.332150e+08,1.316835e+08,NaN,Mobile cellular subscriptions
14,CEB,SP.POP.0014.TO,26671149.0,26778197.0,26720175.0,26558233.0,26353230.0,26092778.0,25734624.0,25508392.0,...,1.583863e+07,1.569344e+07,1.563016e+07,1.555406e+07,1.547474e+07,1.542814e+07,1.542244e+07,1.534312e+07,NaN,"Population ages 0-14, total"
15,CEB,SP.POP.1564.TO,58135954.0,58632303.0,59217989.0,59939405.0,60736450.0,61442683.0,62203237.0,63027152.0,...,7.339997e+07,7.304396e+07,7.251681e+07,7.205201e+07,7.155604e+07,7.100241e+07,7.037545e+07,6.973236e+07,NaN,"Population ages 15-64, total"
16,CEB,SP.POP.65UP.TO,6594481.0,6826616.0,7076728.0,7348113.0,7632919.0,7911606.0,8210773.0,8508040.0,...,1.568577e+07,1.580640e+07,1.602707e+07,1.632924e+07,1.668294e+07,1.706563e+07,1.745986e+07,1.791584e+07,NaN,"Population ages 65 and above, total"
17,CEB,SP.POP.TOTL,91401583.0,92237118.0,93014890.0,93845749.0,94722599.0,95447065.0,96148635.0,97043587.0,...,1.049244e+08,1.045438e+08,1.041740e+08,1.039353e+08,1.037137e+08,1.034962e+08,1.032578e+08,1.029913e+08,NaN,"Population, total"
18,EAR,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.202646e+07,4.905381e+07,5.949271e+07,6.929925e+07,7.716696e+07,8.621924e+07,9.952776e+07,1.112343e+08,NaN,Fixed broadband subscriptions
19,EAR,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,1.594519e+09,1.980489e+09,2.287218e+09,2.386166e+09,2.532464e+09,2.659775e+09,2.789512e+09,3.009125e+09,NaN,Mobile cellular subscriptions

#### The output that we see currently isn't the most ideal from a modelling perspective.  
A well modeled dataset, should allow for data to be easily augmented.  e.g. instead of having a column for each year we would ideally prefer a row for each year to be able to add more rows in the future similar to the output of the following code block.

In [30]:
indicatorsSample = targetIndicatorsData \
    .select(col("wb_country_code")
            , col("indicator_code")
            , lit("1960").alias("year")
            , col("1960").alias("indicator_value")) \
    .filter("indicator_value >= 0.0")

showDF(indicatorsSample)

   wb_country_code  indicator_code  year  indicator_value
0              ARB     IT.CEL.SETS  1960              0.0
1              ARB  SP.POP.0014.TO  1960       40064255.0
2              ARB  SP.POP.1564.TO  1960       49179481.0
3              ARB  SP.POP.65UP.TO  1960        3247196.0
4              ARB     SP.POP.TOTL  1960       92490932.0
5              CSS     IT.CEL.SETS  1960              0.0
6              CSS  SP.POP.0014.TO  1960        1766884.0
7              CSS  SP.POP.1564.TO  1960        2151060.0
8              CSS  SP.POP.65UP.TO  1960         169157.0
9              CSS     SP.POP.TOTL  1960        4198307.0
10             CEB     IT.CEL.SETS  1960              0.0
11             CEB  SP.POP.0014.TO  1960       26671149.0
12             CEB  SP.POP.1564.TO  1960       58135954.0
13             CEB  SP.POP.65UP.TO  1960        6594481.0
14             CEB     SP.POP.TOTL  1960       91401583.0
15             EAR     IT.CEL.SETS  1960              0.0
16             EAR  SP.POP.0014.TO  1960      403027249.0
17             EAR  SP.POP.1564.TO  1960      543753940.0
18             EAR  SP.POP.65UP.TO  1960       32506217.0
19             EAR     SP.POP.TOTL  1960      979287407.0

##### Let us start by getting the list of years that we have metrics for

In [31]:
yearList = [x for x in targetIndicatorsData.schema.names \
             if x != 'wb_country_code' and x != 'indicator_code' and x != 'indicator_name'] 

print(yearList)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [32]:
#Cheat for creating a dataframe with no rows 
indicatorsDF = indicatorsSample.filter('1 = 0')

#Iterate through the list of years and store the rows in the DataFrame we created above
for indicatorYear in yearList:
    print("Processing indicators for " + indicatorYear)
    yearIndicatorDF = targetIndicatorsData \
        .select(col("wb_country_code")
                , col("indicator_code")
                , lit(indicatorYear).alias("year")
                , col(indicatorYear).alias("indicator_value")) \
        .filter("indicator_value >= 0")
    indicatorsDF = indicatorsDF.union(yearIndicatorDF)

Processing indicators for 1960
Processing indicators for 1961
Processing indicators for 1962
Processing indicators for 1963
Processing indicators for 1964
Processing indicators for 1965
Processing indicators for 1966
Processing indicators for 1967
Processing indicators for 1968
Processing indicators for 1969
Processing indicators for 1970
Processing indicators for 1971
Processing indicators for 1972
Processing indicators for 1973
Processing indicators for 1974
Processing indicators for 1975
Processing indicators for 1976
Processing indicators for 1977
Processing indicators for 1978
Processing indicators for 1979
Processing indicators for 1980
Processing indicators for 1981
Processing indicators for 1982
Processing indicators for 1983
Processing indicators for 1984
Processing indicators for 1985
Processing indicators for 1986
Processing indicators for 1987
Processing indicators for 1988
Processing indicators for 1989
Processing indicators for 1990
Processing indicators for 1991
Processing indicators for 1992
Processing indicators for 1993
Processing indicators for 1994
Processing indicators for 1995
Processing indicators for 1996
Processing indicators for 1997
Processing indicators for 1998
Processing indicators for 1999
Processing indicators for 2000
Processing indicators for 2001
Processing indicators for 2002
Processing indicators for 2003
Processing indicators for 2004
Processing indicators for 2005
Processing indicators for 2006
Processing indicators for 2007
Processing indicators for 2008
Processing indicators for 2009
Processing indicators for 2010
Processing indicators for 2011
Processing indicators for 2012
Processing indicators for 2013
Processing indicators for 2014
Processing indicators for 2015
Processing indicators for 2016
Processing indicators for 2017

#### Let's cache the dataset to iterate over it

In [33]:
# You can iterate over a dataframe that is already computed by caching it onces and using it repeatedly
indicatorsDF.cache()

#Force the data to be cached
indicatorsDF.count()

70303

In [34]:
#Check the indicator counts per year
#showDF(indicatorsDF.groupBy('year').agg(count("*")).orderBy("year"), limitRows=100)

#### Getting yearly indicator totals

In [35]:
yearPivot = indicatorsDF.groupBy('year').pivot('indicator_code').sum('indicator_value')

In [36]:
showDF(yearPivot.orderBy('year'))

,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,1960,0.0,NaN,1.164043e+10,1.764656e+10,1.419169e+09,3.072052e+10
1,1961,NaN,NaN,1.186066e+10,1.780707e+10,1.451321e+09,3.113369e+10
2,1962,NaN,NaN,1.215358e+10,1.803340e+10,1.483492e+09,3.168550e+10
3,1963,NaN,NaN,1.249841e+10,1.834110e+10,1.517104e+09,3.237204e+10
4,1964,NaN,NaN,1.281722e+10,1.868178e+10,1.549219e+09,3.306404e+10
5,1965,0.0,NaN,1.310455e+10,1.907143e+10,1.581083e+09,3.377327e+10
6,1966,NaN,NaN,1.343731e+10,1.943187e+10,1.634468e+09,3.452025e+10
7,1967,NaN,NaN,1.371767e+10,1.984342e+10,1.687816e+09,3.526591e+10
8,1968,NaN,NaN,1.396924e+10,2.029706e+10,1.741146e+09,3.602484e+10
9,1969,NaN,NaN,1.422516e+10,2.078273e+10,1.795141e+09,3.682082e+10
10,1970,0.0,NaN,1.449018e+10,2.127209e+10,1.848060e+09,3.762852e+10
11,1971,NaN,NaN,1.478645e+10,2.173800e+10,1.912749e+09,3.845576e+10
12,1972,NaN,NaN,1.507061e+10,2.221091e+10,1.975038e+09,3.927555e+10
13,1973,NaN,NaN,1.534245e+10,2.269287e+10,2.035301e+09,4.009001e+10
14,1974,NaN,NaN,1.559221e+10,2.319928e+10,2.095556e+09,4.090685e+10
15,1975,0.0,NaN,1.580695e+10,2.372537e+10,2.155471e+09,4.170800e+10
16,1976,0.0,NaN,1.601854e+10,2.422892e+10,2.227452e+09,4.249554e+10
17,1977,0.0,NaN,1.619743e+10,2.476186e+10,2.299457e+09,4.327978e+10
18,1978,0.0,NaN,1.635522e+10,2.533091e+10,2.369935e+09,4.407752e+10
19,1979,0.0,NaN,1.650413e+10,2.593300e+10,2.435092e+09,4.489408e+10

In [37]:
yearPivot.printSchema()

root
 |-- year: string (nullable = false)
 |-- IT.CEL.SETS: double (nullable = true)
 |-- IT.NET.BBND: double (nullable = true)
 |-- SP.POP.0014.TO: double (nullable = true)
 |-- SP.POP.1564.TO: double (nullable = true)
 |-- SP.POP.65UP.TO: double (nullable = true)
 |-- SP.POP.TOTL: double (nullable = true)

In [38]:
yearPivotDF = yearPivot.orderBy('year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population')

#### Data Quality Checkpoint

In [39]:
# You can iterate over a dataframe that is already computed by caching it onces and using it repeatedly
yearPivotDF.cache()

#Forces the data to be cached
yearPivotDF.count()

57

In [40]:
yearPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [41]:
yearPivotDF.filter('population_age_15_64 < 0').count()

0

In [42]:
yearPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [43]:
yearPivotDF.filter('population_age_65_and_above < 0').count()

0

In [44]:
yearPivotDF.filter('population < 0').count()

0

In [45]:
yearPivotDF.filter('cellular_subscriptions < 0').count()

0

In [46]:
yearPivotDF.filter('broadband_subscriptions < 0').count()

0

In [47]:
yearPivotDF.filter('population_age_0_to_14 > population').count()

0

In [48]:
yearPivotDF.filter('population_age_15_64 > population').count()

0

In [49]:
yearPivotDF.filter('population_age_65_and_above > population').count()

0

In [50]:
yearPivotDF.filter('(population_age_0_to_14 + population_age_15_64 + population_age_65_and_above) > population').count()

0

In [51]:
#Write the yearly totals to a CSV File
yearPivotDF \
    .select(col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('../output/YearlyStats', mode='overwrite', header='true')

#### Getting yearly regional totals

In [52]:
regionalIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(countryDim.region
            , indicatorsDF.wb_country_code
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

In [53]:
showDF(regionalIndicators)

   region wb_country_code  year  indicator_code  indicator_value
0    None             ARB  1960     IT.CEL.SETS              0.0
1    None             ARB  1960  SP.POP.0014.TO       40064255.0
2    None             ARB  1960  SP.POP.1564.TO       49179481.0
3    None             ARB  1960  SP.POP.65UP.TO        3247196.0
4    None             ARB  1960     SP.POP.TOTL       92490932.0
5    None             CSS  1960     IT.CEL.SETS              0.0
6    None             CSS  1960  SP.POP.0014.TO        1766884.0
7    None             CSS  1960  SP.POP.1564.TO        2151060.0
8    None             CSS  1960  SP.POP.65UP.TO         169157.0
9    None             CSS  1960     SP.POP.TOTL        4198307.0
10   None             CEB  1960     IT.CEL.SETS              0.0
11   None             CEB  1960  SP.POP.0014.TO       26671149.0
12   None             CEB  1960  SP.POP.1564.TO       58135954.0
13   None             CEB  1960  SP.POP.65UP.TO        6594481.0
14   None             CEB  1960     SP.POP.TOTL       91401583.0
15   None             EAR  1960     IT.CEL.SETS              0.0
16   None             EAR  1960  SP.POP.0014.TO      403027249.0
17   None             EAR  1960  SP.POP.1564.TO      543753940.0
18   None             EAR  1960  SP.POP.65UP.TO       32506217.0
19   None             EAR  1960     SP.POP.TOTL      979287407.0

In [54]:
regionalPivot = regionalIndicators.groupBy('region', 'year').pivot('indicator_code').sum('indicator_value')

In [55]:
showDF(regionalPivot.orderBy('region', 'year'), limitRows=100)

,region,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,None,1960,0.000000e+00,NaN,1.052918e+10,1.591379e+10,1.270274e+09,2.772620e+10
1,None,1961,NaN,NaN,1.072883e+10,1.605789e+10,1.299015e+09,2.809895e+10
2,None,1962,NaN,NaN,1.099508e+10,1.626195e+10,1.327810e+09,2.859841e+10
3,None,1963,NaN,NaN,1.130876e+10,1.653985e+10,1.357916e+09,2.922045e+10
4,None,1964,NaN,NaN,1.159883e+10,1.684778e+10,1.386660e+09,2.984755e+10
5,None,1965,0.000000e+00,NaN,1.186024e+10,1.720040e+10,1.415175e+09,3.049045e+10
6,None,1966,NaN,NaN,1.216311e+10,1.752669e+10,1.463169e+09,3.116795e+10
7,None,1967,NaN,NaN,1.241838e+10,1.789958e+10,1.511139e+09,3.184446e+10
8,None,1968,NaN,NaN,1.264760e+10,1.831104e+10,1.559115e+09,3.253346e+10
9,None,1969,NaN,NaN,1.288063e+10,1.875102e+10,1.607638e+09,3.325536e+10
10,None,1970,0.000000e+00,NaN,1.312208e+10,1.919451e+10,1.655206e+09,3.398822e+10
11,None,1971,NaN,NaN,1.339224e+10,1.961622e+10,1.713359e+09,3.473858e+10
12,None,1972,NaN,NaN,1.365141e+10,2.004433e+10,1.769368e+09,3.548225e+10
13,None,1973,NaN,NaN,1.389953e+10,2.048088e+10,1.823579e+09,3.622150e+10
14,None,1974,NaN,NaN,1.412763e+10,2.093920e+10,1.877739e+09,3.696246e+10
15,None,1975,0.000000e+00,NaN,1.432417e+10,2.141546e+10,1.931593e+09,3.768949e+10
16,None,1976,0.000000e+00,NaN,1.451799e+10,2.187192e+10,1.996356e+09,3.840491e+10
17,None,1977,0.000000e+00,NaN,1.468237e+10,2.235479e+10,2.061099e+09,3.911727e+10
18,None,1978,0.000000e+00,NaN,1.482777e+10,2.287031e+10,2.124448e+09,3.984191e+10
19,None,1979,0.000000e+00,NaN,1.496503e+10,2.341573e+10,2.183012e+09,4.058354e+10
20,None,1980,1.643740e+05,NaN,1.509894e+10,2.398095e+10,2.234548e+09,4.133457e+10
21,None,1981,3.948430e+05,NaN,1.524631e+10,2.454908e+10,2.289441e+09,4.210536e+10
22,None,1982,6.097410e+05,NaN,1.540788e+10,2.514191e+10,2.336312e+09,4.290702e+10
23,None,1983,8.811210e+05,NaN,1.557283e+10,2.574546e+10,2.378442e+09,4.371806e+10
24,None,1984,1.796544e+06,NaN,1.573395e+10,2.635158e+10,2.421065e+09,4.452835e+10
25,None,1985,4.108062e+06,NaN,1.589767e+10,2.696630e+10,2.468335e+09,4.535450e+10
26,None,1986,7.968225e+06,NaN,1.612344e+10,2.752951e+10,2.529412e+09,4.620501e+10
27,None,1987,1.400003e+07,NaN,1.634716e+10,2.811389e+10,2.593288e+09,4.707746e+10
28,None,1988,2.382929e+07,NaN,1.656733e+10,2.870866e+10,2.659850e+09,4.795944e+10
29,None,1989,4.035322e+07,NaN,1.677947e+10,2.930921e+10,2.729181e+09,4.884193e+10
30,None,1990,6.197029e+07,NaN,1.698502e+10,2.992424e+10,2.801850e+09,4.973563e+10
31,None,1991,9.094891e+07,NaN,1.722226e+10,3.046761e+10,2.884735e+09,5.059958e+10
32,None,1992,1.315735e+08,NaN,1.740833e+10,3.103902e+10,2.971086e+09,5.144385e+10
33,None,1993,1.976234e+08,NaN,1.756395e+10,3.164183e+10,3.058809e+09,5.229041e+10
34,None,1994,3.285952e+08,NaN,1.770281e+10,3.225423e+10,3.143700e+09,5.312697e+10
35,None,1995,5.479371e+08,NaN,1.783435e+10,3.288001e+10,3.225200e+09,5.396619e+10
36,None,1996,8.897939e+08,NaN,1.791217e+10,3.353083e+10,3.321436e+09,5.479144e+10
37,None,1997,1.370814e+09,NaN,1.800713e+10,3.417312e+10,3.410447e+09,5.561804e+10
38,None,1998,2.084697e+09,8.459000e+05,1.809512e+10,3.481837e+10,3.495128e+09,5.643476e+10
39,None,1999,3.340473e+09,3.336286e+06,1.814662e+10,3.549111e+10,3.580861e+09,5.724252e+10
40,None,2000,5.256610e+09,6.395584e+07,1.815287e+10,3.619681e+10,3.669437e+09,5.804240e+10
41,None,2001,7.129602e+09,1.901302e+08,1.817975e+10,3.686679e+10,3.771371e+09,5.884124e+10
42,None,2002,8.931245e+09,3.736333e+08,1.816684e+10,3.757234e+10,3.874756e+09,5.963732e+10
43,None,2003,1.118402e+10,6.268839e+08,1.813193e+10,3.830517e+10,3.977538e+09,6.043808e+10
44,None,2004,1.441172e+10,1.021665e+09,1.810561e+10,3.904122e+10,4.073891e+09,6.124421e+10
45,None,2005,1.862753e+10,1.465743e+09,1.810565e+10,3.976563e+10,4.161611e+09,6.205643e+10
46,None,2006,2.378235e+10,1.959475e+09,1.815655e+10,4.043703e+10,4.256778e+09,6.287409e+10
47,None,2007,2.977887e+10,2.494826e+09,1.822321e+10,4.110453e+10,4.345034e+09,6.369668e+10
48,None,2008,3.627309e+10,3.041798e+09,1.831052e+10,4.176503e+10,4.431800e+09,6.453143e+10
49,None,2009,4.216466e+10,3.570759e+09,1.841486e+10,4.241193e+10,4.523231e+09,6.537427e+10
50,None,2010,4.860450e+10,4.077592e+09,1.853275e+10,4.304161e+10,4.623745e+09,6.622252e+10
51,None,2011,5.443422e+10,4.677802e+09,1.867669e+10,4.362647e+10,4.740515e+09,6.706828e+10
52,None,2012,5.823945e+10,5.135903e+09,1.883375e+10,4.421142e+10,4.865635e+09,6.793559e+10
53,None,2013,6.232981e+10,5.523110e+09,1.899938e+10,4.478932e+10,5.001284e+09,6.881501e+10
54,None,2014,6.556419e+10,5.876340e+09,1.916547e+10,4.535837e+10,5.152544e+09,6.970143e+10
55,None,2015,6.735425e+10,6.945989e+09,1.932514e+10,4.591716e+10,5.322814e+09,7.058997e+10
56,None,2016,7.037847e+10,7.685777e+09,1.949220e+10,4.644686e+10,5.520961e+09,7.148507e+10
57,East Asia & Pacific,1960,0.000000e+00,NaN,4.028388e+08,5.863290e+08,4.009996e+07,1.029333e+09
58,East Asia & Pacific,1961,NaN,NaN,4.048620e+08,5.870740e+08,4.052241e+07,1.032525e+09
59,East Asia & Pacific,1962,NaN,NaN,4.135164e+08,5.921018e+08,4.090652e+07,1.046593e+09
60,East Asia & Pacific,1963,NaN,NaN,4.274245e+08,6.030349e+08,4.142506e+07,1.071955e+09
61,East Asia & Pacific,1964,NaN,NaN,4.399146e+08,6.151427e+08,4.182021e+07,1.096951e+09
62,East Asia & Pacific,1965,0.000000e+00,NaN,4.507900e+08,6.299228e+08,4.221279e+07,1.123001e+09
63,East Asia & Pacific,1966,NaN,NaN,4.645586e+08,6.438748e+08,4.396782e+07,1.152479e+09
64,East Asia & Pacific,1967,NaN,NaN,4.751606e+08,6.599945e+08,4.576509e+07,1.181000e+09
65,East Asia & Pacific,1968,NaN,NaN,4.843480e+08,6.779085e+08,4.758187e+07,1.209920e+09
66,East Asia & Pacific,1969,NaN,NaN,4.946925e+08,6.980435e+08,4.951662e+07,1.242337e+09
67,East Asia & Pacific,1970,0.000000e+00,NaN,5.059325e+08,7.173903e+08,5.134007e+07,1.274749e+09
68,East Asia & Pacific,1971,NaN,NaN,5.188175e+08,7.356724e+08,5.352987e+07,1.308108e+09
69,East Asia & Pacific,1972,NaN,NaN,5.306244e+08,7.533234e+08,5.561427e+07,1.339653e+09
70,East Asia & Pacific,1973,NaN,NaN,5.413568e+08,7.705633e+08,5.761212e+07,1.369626e+09
71,East Asia & Pacific,1974,NaN,NaN,5.504325e+08,7.891777e+08,5.971466e+07,1.399421e+09
72,East Asia & Pacific,1975,0.000000e+00,NaN,5.563652e+08,8.079829e+08,6.179528e+07,1.426241e+09
73,East Asia & Pacific,1976,0.000000e+00,NaN,5.591825e+08,8.265434e+08,6.431159e+07,1.450137e+09
74,East Asia & Pacific,1977,0.000000e+00,NaN,5.595765e+08,8.461550e+08,6.686961e+07,1.472702e+09
75,East Asia & Pacific,1978,0.000000e+00,NaN,5.581797e+08,8.674097e+08,6.949443e+07,1.495186e+09
76,East Asia & Pacific,1979,0.000000e+00,NaN,5.556313e+08,8.901934e+08,7.215549e+07,1.518085e+09
77,East Asia & Pacific,1980,0.000000e+00,NaN,5.521305e+08,9.135261e+08,7.477354e+07,1.540538e+09
78,East Asia & Pacific,1981,1.327500e+04,NaN,5.468523e+08,9.390349e+08,7.783798e+07,1.563837e+09
79,East Asia & Pacific,1982,1.980400e+04,NaN,5.429351e+08,9.655223e+08,8.085994e+07,1.589435e+09
80,East Asia & Pacific,1983,2.719800e+04,NaN,5.392658e+08,9.918753e+08,8.376825e+07,1.615033e+09
81,East Asia & Pacific,1984,4.314200e+04,NaN,5.352559e+08,1.017470e+09,8.652520e+07,1.639382e+09
82,East Asia & Pacific,1985,6.822900e+04,NaN,5.317639e+08,1.043174e+09,8.923951e+07,1.664314e+09
83,East Asia & Pacific,1986,1.283900e+05,NaN,5.320735e+08,1.066584e+09,9.201363e+07,1.690815e+09
84,East Asia & Pacific,1987,2.262250e+05,NaN,5.330600e+08,1.090754e+09,9.474759e+07,1.718713e+09
85,East Asia & Pacific,1988,4.240700e+05,NaN,5.346119e+08,1.114623e+09,9.747580e+07,1.746868e+09
86,East Asia & Pacific,1989,8.716370e+05,NaN,5.363774e+08,1.137562e+09,1.003002e+08,1.774403e+09
87,East Asia & Pacific,1990,1.563028e+06,NaN,5.379553e+08,1.159781e+09,1.033325e+08,1.801239e+09
88,East Asia & Pacific,1991,2.548507e+06,NaN,5.426724e+08,1.177749e+09,1.064786e+08,1.827076e+09
89,East Asia & Pacific,1992,3.672393e+06,NaN,5.442749e+08,1.196868e+09,1.098667e+08,1.851191e+09
90,East Asia & Pacific,1993,5.491192e+06,NaN,5.441875e+08,1.216605e+09,1.134781e+08,1.874458e+09
91,East Asia & Pacific,1994,1.066866e+07,NaN,5.441064e+08,1.236200e+09,1.172476e+08,1.897745e+09
92,East Asia & Pacific,1995,2.382787e+07,NaN,5.443942e+08,1.254962e+09,1.210980e+08,1.920651e+09
93,East Asia & Pacific,1996,4.831455e+07,NaN,5.395010e+08,1.277739e+09,1.257523e+08,1.943194e+09
94,East Asia & Pacific,1997,7.338903e+07,NaN,5.370740e+08,1.297690e+09,1.301948e+08,1.965166e+09
95,East Asia & Pacific,1998,1.026377e+08,6.700000e+04,5.349747e+08,1.316589e+09,1.345291e+08,1.986304e+09
96,East Asia & Pacific,1999,1.483686e+08,6.104670e+05,5.302994e+08,1.336722e+09,1.388495e+08,2.006085e+09
97,East Asia & Pacific,2000,2.169886e+08,5.273154e+06,5.221823e+08,1.359328e+09,1.432389e+08,2.024966e+09
98,East Asia & Pacific,2001,3.068284e+08,1.304106e+07,5.144663e+08,1.380717e+09,1.477788e+08,2.043181e+09
99,East Asia & Pacific,2002,4.012531e+08,2.481227e+07,5.039071e+08,1.404084e+09,1.522803e+08,2.060490e+09

In [56]:
#Write the regional-yearly totals to a CSV File
regionalPivot.filter('region is not null') \
    .orderBy('region','year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('region')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('../output/RegionalStats', mode='overwrite', header='true')

## Short Exercise

Becky finds the regional metrics interesting, but she wants to look at these metrics at a country level for each year.  Can you adapt the regional pivot that we computed earlier to get the metrics for each year and country ?

In [57]:
countryDimFinal.columns

['country_iso_code',
 'wb_country_code',
 'country_name',
 'country_long_name',
 'region',
 'income_group']

In [58]:
countryIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(countryDim.country_name
            , indicatorsDF.wb_country_code
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

In [59]:
showDF(countryIndicators)

,country_name,wb_country_code,year,indicator_code,indicator_value
0,Arab World,ARB,1960,IT.CEL.SETS,0.0
1,Arab World,ARB,1960,SP.POP.0014.TO,40064255.0
2,Arab World,ARB,1960,SP.POP.1564.TO,49179481.0
3,Arab World,ARB,1960,SP.POP.65UP.TO,3247196.0
4,Arab World,ARB,1960,SP.POP.TOTL,92490932.0
5,Caribbean small states,CSS,1960,IT.CEL.SETS,0.0
6,Caribbean small states,CSS,1960,SP.POP.0014.TO,1766884.0
7,Caribbean small states,CSS,1960,SP.POP.1564.TO,2151060.0
8,Caribbean small states,CSS,1960,SP.POP.65UP.TO,169157.0
9,Caribbean small states,CSS,1960,SP.POP.TOTL,4198307.0
10,Central Europe and the Baltics,CEB,1960,IT.CEL.SETS,0.0
11,Central Europe and the Baltics,CEB,1960,SP.POP.0014.TO,26671149.0
12,Central Europe and the Baltics,CEB,1960,SP.POP.1564.TO,58135954.0
13,Central Europe and the Baltics,CEB,1960,SP.POP.65UP.TO,6594481.0
14,Central Europe and the Baltics,CEB,1960,SP.POP.TOTL,91401583.0
15,Early-demographic dividend,EAR,1960,IT.CEL.SETS,0.0
16,Early-demographic dividend,EAR,1960,SP.POP.0014.TO,403027249.0
17,Early-demographic dividend,EAR,1960,SP.POP.1564.TO,543753940.0
18,Early-demographic dividend,EAR,1960,SP.POP.65UP.TO,32506217.0
19,Early-demographic dividend,EAR,1960,SP.POP.TOTL,979287407.0

In [60]:
countryPivot = countryIndicators.groupBy('country_name', 'year').pivot('indicator_code').sum('indicator_value')

In [61]:
showDF(countryPivot.orderBy('country_name', 'year'))

,country_name,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,Afghanistan,1960,0.0,NaN,3790778.0,4953810.0,251763.0,8996351.0
1,Afghanistan,1961,NaN,NaN,3890846.0,5018557.0,257361.0,9166764.0
2,Afghanistan,1962,NaN,NaN,3983046.0,5100884.0,261938.0,9345868.0
3,Afghanistan,1963,NaN,NaN,4072453.0,5196089.0,265412.0,9533954.0
4,Afghanistan,1964,NaN,NaN,4165614.0,5298053.0,267694.0,9731361.0
5,Afghanistan,1965,0.0,NaN,4265503.0,5404160.0,268751.0,9938414.0
6,Afghanistan,1966,NaN,NaN,4391226.0,5485660.0,275445.0,10152331.0
7,Afghanistan,1967,NaN,NaN,4517439.0,5574096.0,281095.0,10372630.0
8,Afghanistan,1968,NaN,NaN,4646505.0,5672178.0,285663.0,10604346.0
9,Afghanistan,1969,NaN,NaN,4780164.0,5785080.0,289184.0,10854428.0
10,Afghanistan,1970,0.0,NaN,4919245.0,5915230.0,291648.0,11126123.0
11,Afghanistan,1971,NaN,NaN,5087088.0,6031104.0,299633.0,11417825.0
12,Afghanistan,1972,NaN,NaN,5252450.0,6162893.0,306597.0,11721940.0
13,Afghanistan,1973,NaN,NaN,5411955.0,6303559.0,312308.0,12027822.0
14,Afghanistan,1974,NaN,NaN,5559831.0,6445172.0,316538.0,12321541.0
15,Afghanistan,1975,0.0,NaN,5688570.0,6582572.0,319144.0,12590286.0
16,Afghanistan,1976,0.0,NaN,5835633.0,6678365.0,326301.0,12840299.0
17,Afghanistan,1977,0.0,NaN,5969086.0,6767646.0,330806.0,13067538.0
18,Afghanistan,1978,0.0,NaN,6071432.0,6834552.0,331750.0,13237734.0
19,Afghanistan,1979,0.0,NaN,6116979.0,6861512.0,328204.0,13306695.0

In [62]:
#Write the regional-yearly totals to a CSV File
countryPivot.filter('country_name is not null') \
    .orderBy('country_name','year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('country_name')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('../output/CountryStats', mode='overwrite', header='true')

## Exercise

Kat wants to identify the countries that are conducive to start a business.  She thinks that it would suffice to look at the most recent metrics for the following:
- Gross National Income (GNI)
- Cost of business start-up procedures
- Number of days required to start a business
- Number of start-up procedures to register a business
- GDP
- GDP per capita
- Business Regulatory Environment
- Ease of doing business index (Only available in 2017)

Write the data to a csv file.

Hint - Start by matching up indicators that might have descriptions matching what Kat is looking for. e.g. <br>
`showDF(seriesDim.filter("indicator_name like '%GNI%'").orderBy("indicator_code"), limitRows = 500)`

In [63]:
recentIndicators = indicatorsData \
.select("wb_country_code", "indicator_code", "2016") \
.filter(col("indicator_code").isin('IC.REG.COST.PC.ZS', 'IC.REG.DURS', 'IC.REG.PROC',
                                  'NY.GNP.ATLS.CD', 'NY.GDP.MKTP.KD', 'NY.GDP.PCAP.KD', 'IQ.CPA.BREG.XQ', 'IC.BUS.EASE.XQ')) \
.withColumnRenamed("2016", "indicator_value") \
.withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

showDF(recentIndicators)

   wb_country_code     indicator_code   indicator_value
0              ARB  IC.REG.COST.PC.ZS             36.47
1              ARB     IQ.CPA.BREG.XQ              2.80
2              ARB     IC.BUS.EASE.XQ              None
3              ARB     NY.GDP.MKTP.KD  2616760000000.00
4              ARB     NY.GDP.PCAP.KD           6438.05
5              ARB     NY.GNP.ATLS.CD  2676040000000.00
6              ARB        IC.REG.PROC              8.32
7              ARB        IC.REG.DURS             23.17
8              CSS  IC.REG.COST.PC.ZS             19.90
9              CSS     IQ.CPA.BREG.XQ              3.90
10             CSS     IC.BUS.EASE.XQ              None
11             CSS     NY.GDP.MKTP.KD    63309462669.00
12             CSS     NY.GDP.PCAP.KD           8737.80
13             CSS     NY.GNP.ATLS.CD    64962563817.00
14             CSS        IC.REG.PROC              7.15
15             CSS        IC.REG.DURS             22.38
16             CEB  IC.REG.COST.PC.ZS              3.66
17             CEB     IQ.CPA.BREG.XQ              None
18             CEB     IC.BUS.EASE.XQ              None
19             CEB     NY.GDP.MKTP.KD  1519590000000.00

In [64]:
businessIndexIndicators = indicatorsData \
.select("wb_country_code", "indicator_code", "2017") \
.filter(col("indicator_code").isin('IC.BUS.EASE.XQ')) \
.withColumnRenamed("2017", "indicator_value") \
.withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

In [65]:
allIndicators = recentIndicators.union(businessIndexIndicators)

In [66]:
showDF(recentIndicators)

   wb_country_code     indicator_code   indicator_value
0              ARB  IC.REG.COST.PC.ZS             36.47
1              ARB     IQ.CPA.BREG.XQ              2.80
2              ARB     IC.BUS.EASE.XQ              None
3              ARB     NY.GDP.MKTP.KD  2616760000000.00
4              ARB     NY.GDP.PCAP.KD           6438.05
5              ARB     NY.GNP.ATLS.CD  2676040000000.00
6              ARB        IC.REG.PROC              8.32
7              ARB        IC.REG.DURS             23.17
8              CSS  IC.REG.COST.PC.ZS             19.90
9              CSS     IQ.CPA.BREG.XQ              3.90
10             CSS     IC.BUS.EASE.XQ              None
11             CSS     NY.GDP.MKTP.KD    63309462669.00
12             CSS     NY.GDP.PCAP.KD           8737.80
13             CSS     NY.GNP.ATLS.CD    64962563817.00
14             CSS        IC.REG.PROC              7.15
15             CSS        IC.REG.DURS             22.38
16             CEB  IC.REG.COST.PC.ZS              3.66
17             CEB     IQ.CPA.BREG.XQ              None
18             CEB     IC.BUS.EASE.XQ              None
19             CEB     NY.GDP.MKTP.KD  1519590000000.00

In [67]:
countryBusinessStartupPivot = allIndicators.join(countryDimFinal
                                                ,recentIndicators.wb_country_code == countryDim.wb_country_code
                                                ,"inner") \
.select(countryDimFinal.country_iso_code
       ,countryDimFinal.country_name
       ,recentIndicators.indicator_code
       ,recentIndicators.indicator_value) \
.groupBy("country_iso_code", "country_name") \
.pivot("indicator_code").sum("indicator_value") \
.withColumnRenamed('country_iso_code', 'Country ISO Code') \
.withColumnRenamed('country_name', 'Country Name') \
.withColumnRenamed('NY.GNP.ATLS.CD', 'GNI') \
.withColumnRenamed('IC.REG.DURS', 'Startup Time') \
.withColumnRenamed('IC.REG.PROC', 'Startup Procedures') \
.withColumnRenamed('IC.REG.COST.PC.ZS', 'Startup Cost Pct of GNI') \
.withColumnRenamed('NY.GDP.MKTP.KD', 'GDP') \
.withColumnRenamed('NY.GDP.PCAP.KD', 'GDP Per Capita') \
.withColumnRenamed('IQ.CPA.BREG.XQ', 'Business Regulation') \
.withColumnRenamed('IC.BUS.EASE.XQ', 'Ease of business') \
.withColumn("Startup Cost", (col("GNI") * col("Startup Cost Pct of GNI") / lit(100.0)).cast(DecimalType(38, 2))) \
.filter(col("GNI") > 0) \
.filter(col("Startup Time").isNotNull()) \
.filter(col("Startup Procedures").isNotNull()) \
.filter(col("Startup Cost").isNotNull())

In [68]:
showDF(countryBusinessStartupPivot)

,Country ISO Code,Country Name,Ease of business,Startup Cost Pct of GNI,Startup Time,Startup Procedures,Business Regulation,GDP,GDP Per Capita,GNI,Startup Cost
0,BJ,Benin,151.00,3.80,8.50,6.00,3.00,9103831278.00,837.34,8938879520.00,339677421.76
1,XC,Euro area,None,3.83,9.55,5.26,None,13377100000000.00,39256.27,12312600000000.00,471572580000.00
2,KZ,Kazakhstan,36.00,0.30,9.00,5.00,None,188309000000.00,10582.50,156812000000.00,470436000.00
3,JM,Jamaica,70.00,4.30,10.00,2.00,None,13801803130.00,4790.04,13349534142.00,574029968.11
4,NO,Norway,8.00,0.90,4.00,4.00,None,472766000000.00,90288.82,429276000000.00,3863484000.00
5,IR,Iran,124.00,1.20,15.50,9.00,None,540581000000.00,6733.91,438869000000.00,5266428000.00
6,AG,Antigua and Barbuda,107.00,9.40,22.00,9.00,None,1344373698.00,13315.51,1369440563.00,128727412.92
7,CG,Congo,179.00,61.20,50.00,11.00,2.50,14342385958.00,2798.07,8770006555.00,5367244011.66
8,AR,Argentina,117.00,10.80,24.00,13.00,None,445227000000.00,10154.00,524974000000.00,56697192000.00
9,HT,Haiti,181.00,219.30,97.00,12.00,2.00,7910618370.00,729.27,8488280524.00,18614799189.13
10,EU,European Union,None,3.89,10.41,5.43,None,18308600000000.00,35803.61,17044000000000.00,663011600000.00
11,XE,Heavily indebted poor countries (HIPC),None,57.09,22.54,7.74,3.04,635297000000.00,853.20,639767000000.00,365242980300.00
12,BB,Barbados,132.00,7.70,15.00,8.00,None,4629124472.00,16242.77,4336068302.00,333877259.25
13,LT,Lithuania,16.00,0.60,5.50,4.00,None,45735444769.00,15945.52,42430236294.00,254581417.76
14,SL,Sierra Leone,160.00,30.30,10.00,6.00,3.00,3369621899.00,455.59,3642914089.00,1103802968.97
15,PK,Pakistan,147.00,12.50,18.00,12.00,3.50,227748000000.00,1178.80,289101000000.00,36137625000.00
16,SK,Slovak Republic,39.00,1.20,12.50,7.00,None,104679000000.00,19275.09,92362394160.00,1108348729.92
17,CN,China,78.00,0.70,26.90,7.00,None,9504210000000.00,6893.78,11374200000000.00,79619400000.00
18,T2,Latin America & Caribbean (IDA & IBRD),None,33.17,32.95,8.53,3.50,5695180000000.00,9163.09,5111880000000.00,1695610596000.00
19,SN,Senegal,140.00,62.70,6.00,4.00,3.50,16833353304.00,1092.25,14648720074.00,9184747486.40

In [69]:
countryBusinessStartupPivot \
    .select("Country ISO Code", "Country Name", "GDP", "GDP Per Capita", "GNI", \
            "Startup Cost", "Startup Cost Pct of GNI", "Startup Time", "Startup Procedures", \
            "Business Regulation", "Ease of business") \
    .coalesce(1) \
    .write.csv("../../output/BusinessStartupData", mode="overwrite", header="true")